@import url(normalize.css);

:root {
  --piece-colour: rgb(85, 81, 97);
  --modal-colour: rgb(235, 234, 234);
  --div-button-color: white;
  --board-background-colour: rgb(237, 219, 219);
}

main>h2 {
  text-align: center;
}

.board-container {
  width: 75svh;
  height: 75svh;
  margin: auto;
  margin-top: 3%;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr); 
  gap: 1svh;
  background-color: var(--board-background-colour);
  padding: 1svh;
  border-radius: 0.75rem;
}

.board-container>div {
  font-family: 'Fredoka', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--piece-colour);
  background-color: var(--div-button-color);
  border-radius: 0.75rem;
}

.disabled {
  pointer-events: none
}

h2 {
  font-family: 'Noto Sans Tamil', sans-serif;
}

.players {
  background-color: var(--modal-colour);
  position: absolute;
  left: 40svw;
  top: 20svh;
  width: 20svw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  z-index: 2;
  font-family: 'Noto Sans', sans-serif;
  border: 2px solid red;
  box-sizing: border-box;
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.players input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9em;
  width: 85%;
}

.reset-game-buttons {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
