@import url(normalize.css);

:root {
  --piece-colour: grey;
  --modal-colour: rgb(235, 234, 234);
}

main>h2 {
  text-align: center;
}

.board-container {
  width: 75svh;
  height: 75svh;
  border: 1px solid red;
  margin: auto;
  margin-top: 3%;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr); 
}

.board-container>div {
  font-family: 'Fredoka', sans-serif;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--piece-colour);
}

.disabled {
  pointer-events: none
}

h2 {
  font-family: 'Noto Sans Tamil', sans-serif;
}

.players {
  background-color: var(--modal-colour);
  position: absolute;
  left: 38%;
  top: 20%;
  width: 20svw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  z-index: 2;
  font-family: 'Noto Sans', sans-serif;
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.players input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9em;
  width: 90%;
}

.reset-game-buttons {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
